# JetBrains CLion .gitignore
.idea/
*.iws
*.iml
cmake-build-*/
CMakeUserPresets.json
ext-build/
.DS_Store
Thumbs.db
*.log


# VS Code C/C++ .gitignore
.vscode/

# TurboC C/C++ .gitignore
*.BAK
*.DSK
*.PRJ
*.CHR
*.BGI

# Code::Blocks C/C++ .gitignore
*.cbp
*.layout
*.depend

# Local .env files .gitignore
.env
.env.local

# Executables and debug .gitignore
*.exe
*.so
*.dylib
*.pdb